.login_page {
	background:#ececec;
	padding:0
}
.login_page .login_header {
	background:#164a66;
	padding:20px 0;
	text-align:center;
	border-bottom:1px solid rgba(0,0,0,0.8)
}
.login_page .login_header h1{
	font-size: 26px;
	color: #FFF;
}
.login_page .login_register_form {
	width:320px;
	margin:0 auto;
	position:relative;
	zoom:1
}
.login_page .login_register_form:before,.login_page .login_register_form:after {
	content:"";
	display:table
}
.login_page .login_register_form:after {
	clear:both
}
.login_page .login_register_form .form_wrapper {
	position:absolute;
	top:20px;
	left:0;
	right:0
}

.animated-short {
	-webkit-animation-duration:300ms;
	animation-duration:300ms;
	-webkit-animation-timing-function:cubic-bezier(.47,.66,0,.84);
	animation-timing-function:cubic-bezier(.47,.66,0,.84);
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both
}
